<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../WebFiori/Cache/Cache.php</file>
            <file>../WebFiori/Cache/Item.php</file>
            <file>../WebFiori/Cache/Storage.php</file>
            <file>../WebFiori/Cache/FileStorage.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="General Tests">
            <directory>./WebFiori/Test/Cache</directory>
        </testsuite>
    </testsuites>
</phpunit>